
    <ion-header>
    
      <ion-navbar>
        <ion-title> Login </ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
      
      <ion-list>
    
        <ion-item>
          <ion-label floating>Email or Mobile</ion-label>
          <ion-input type="text" [(ngModel)]="Email"></ion-input>
        </ion-item>
    
    
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="Password"></ion-input>
        </ion-item>
        
      </ion-list>
      <br>
     
 
      <table border="0" width="100%" align="center">
          <tr>
              <td align="center" valign="middle" colspan="2">
                  <button ion-button  full (click)="Login()">Login</button>
              
                  
              </td>
            </tr>
        <tr>
          <td align="left" valign="middle" width="50%">
            <div style="width: 99%">
              <button ion-button full  (click)="RegisterPage()">Register</button>
            </div>
              
          </td>
          <td align="right" valign="middle" width="50%">
              <div style="width: 99%">
              <button ion-button  full (click)="forgotPassword()">Forgot Password</button>
              </div>
          </td>
        </tr>
      </table>
    </ion-content>
    