
<ion-header>

  <ion-navbar>
    <ion-title> Register </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <ion-item>
      <ion-label floating>Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="FullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Mobile</ion-label>
      <ion-input type="number" [(ngModel)]="Mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="Password"></ion-input>
    </ion-item>
    
  </ion-list>
  <br>
  <button ion-button (click)="registerEmployee()" full>Register</button>
</ion-content>
