<!--
  Generated template for the AsignTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Asign Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-4 >
              
                <ion-item>
                  <ion-label floating>Name</ion-label>
                  <ion-input type="text" [(ngModel)]="Name"></ion-input>
                </ion-item>
              </ion-col>
          <ion-col col-12 col-sm-12 col-md-4 >
              <br>
            <ion-item (click)="doRadio()">
              Select Employee
              <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
            </ion-item>
                
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-4 >
            <ion-item>
              <ion-label floating>Date From</ion-label>
              <ion-input type="text" [(ngModel)]="dateFrom" value="dateFrom" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-4 >
            <ion-item>
              <ion-label floating>Email or Mobile</ion-label>
              <ion-input type="text" [(ngModel)]="Email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-4 >
            <ion-item>
              <ion-label floating>Email or Mobile</ion-label>
              <ion-input type="text" [(ngModel)]="Email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
